
body {

}

.mydropdown {
    padding: 0px !important;
    font-size: 14px !important;
}

.openModalButton {
    background-color: grey;
    color: white;
    font-size: 20px;
}

.markUnimportantButton {
    background-color: orangered;
    color: white;
    font-size: 20px;
}

table, thead, td, tr {
    border: 1px solid;
    overflow: auto;
    table-layout: fixed;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.container {
    width: 100%;
}

.block {
    width: 100px;
    display: inline-block;
}

