
body {

}


table, thead, td, tr {
    border: 1px solid;
    overflow: auto;
    table-layout: fixed;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.container {
    width: 100%;


}

.block {
    width: 100px;
    float: left;
    margin: 20px;
}
