
body {

}

.mydropdown {
    padding: 0px !important;
    font-size: 14px !important;
    -webkit-appearance: menulist !important;
    display: inline-block;
}

.mytextbox {
    padding: 0px !important;
    font-size: 14px !important;
    display: inline-block;
    width: 100%;

}

.mylabel {
    padding: 0px !important;
    font-size: 14px !important;
    display: inline-block;
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    display: inline-block;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.openModalButton {
    background-color: grey;
    color: white;
    font-size: 20px;
}

.markUnimportantButton {
    background-color: orangered;
    color: white;
    font-size: 20px;
}

table, thead, td, tr {
    border: 1px solid;
    overflow: auto;
    table-layout: fixed;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.container {
    width: 100%;
}

.block {
    width: 50%;
    display: inline-block;
}

