@using AsignioInternship.Data.LogMySql


@model IEnumerable<LogMySqlDataModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- LogMySql table doesn't have UserID, so for now I won't implement search by userID -->

<table style="width:100%; text-align:center;">
    <thead>
        <tr>
            <td>Date-Time Stamp</td>
            <td>Message</td>
            <td>Function</td>
            <td>Type</td>
        </tr>

    </thead>
    <tbody>

        @foreach (LogMySqlDataModel currentRow in Model)
        {
            <tr>
                <td>@currentRow.DateTimeStamp</td>
                <td>@currentRow.Message</td>
                <td>@currentRow.Function</td>
                <td>@currentRow.Type</td>
                <!-- <td> (at) Html.ActionLink("Edit", "Update", new { UserID = currentRow.ExampleID })</td> -->
            </tr>

        }
    </tbody>
</table>

