
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2> making space so that links can be seen</h2>
</div>

<div>
    @Html.ActionLink("View All", "ViewAll", "Example");
    @Html.ActionLink("Add New", "AddNew", "Example");
</div>


