@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home">
    <br />
    Sophie Lanier <br />
    Summer 2019 Internship <br />
    Logging Project <br />
</div>
